body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8faff;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1.7vh 7vw;
}

.navbar ul {
    list-style: none;
    margin: 0;
    font-size: 1.3vw;
    padding: 0;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    color: #6d8595;
    padding: 0 1.5vw;
}

.footer {
    background-color: #f6f7f9;   /* Light grey background */
    color: #374151;              /* Default text color */
    padding: 40px 20px;
}

.footer-bottom {
    max-width: 1200px;
    margin: 30px auto 0;
    padding-top: 15px;
    border-top: 1px solid #e6e9ee;

    text-align: center;
    font-size: 13px;
    color: #6b7280;
}

.contact-section {
    background-color: #ffffff;
    padding: 60px 20px;
}

.contact-inner {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-inner h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #0f172a;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact-form input,
.contact-form textarea {
    padding: 12px 14px;
    font-size: 14px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    width: 100%;
}

.contact-form button {
    padding: 12px 14px;
    font-size: 14px;
    font-weight: bold;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 100%;
}

.contact-form button:hover {
    background-color: #1d4ed8;
}


.contact-info {
    margin-top: 30px;
    font-size: 14px;
    color: #6b7280;
}

.contact-info p {
    margin: 5px 0;
}
